@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

*, ::before, ::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;
    color: #170608;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Roboto Mono', monospace;
    color: #170608;
}

:root{
    --primary-color: #eb3d4f;
    --secondery-color: #3a003d;
    --neutral-light-color: #fdeced;
    --neutral-dark-color: #170608;
    --font-family-headings: 'Roboto Mono', monospace;
    --font-family-text: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width:1140px;
}

#header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header{
    display: flex;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
}

#header-img{
    width: 10rem;
    height: auto;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

#nav-bar ul>li{
    padding-left: 1.5rem;
}

#nav-bar ul>li>a{
    color: #3a003d;
    text-decoration: none;
}

#nav-bar ul>li>a:hover{
    cursor: pointer;
    border-bottom: 2px solid #3a003d;
}

.main-content{
    padding-top: 6rem;
}

.main-content .container{
    display: flex;
    flex-direction: column;
}

.Intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 0;
}

.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.cta h1{
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.cta p{
    color: #170608;
    opacity: .8;
    margin-bottom: 1rem;
}

.cta a{
    color: #3a003d;
    background-color: #eb3d4f;
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.cta a:hover{
    background-color: #3a003d;
    color: #eb3d4f;
    cursor: pointer;
}
.intro-video iframe{
    border-radius: .3rem;
}

.features{
    padding-top: 8rem;
}

.feature-img{
   width: auto;
   height: 30rem;
}

.feature-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature-heading{
    margin-bottom: 1.5rem;
}
.feature1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.feature-num{
    padding-right: 1rem;
}

.feature-num h1{
    opacity: 0.8;
}

.feature-des p{
    opacity: 0.8;
}

/*Gellery*/
.gallery-headings{
    margin: 6rem 0 2rem 0;
}

.Gallery-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.Gallery-items div{
    width: 32%;
    height: 450px;
    margin-bottom: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid hwb(343 81% 16%);
    border-radius: .3rem;
}

.variation-1{
    background: linear-gradient(#eb3d4fa8,#3a003d94), url(https://i.postimg.cc/N0j93yxf/gal-item5.jpg);
}

.variation-1:hover{
    background: url(https://i.postimg.cc/N0j93yxf/gal-item5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.variation-2{
    background: linear-gradient(#eb3d4fa8,#3a003d94), url(https://i.postimg.cc/0NXMP8tG/gal-item6.jpg);
}

.variation-2:hover{
    background: url(https://i.postimg.cc/0NXMP8tG/gal-item6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.variation-3{
    background: linear-gradient(#eb3d4fa8,#3a003d94), url(https://i.postimg.cc/qRtt79YP/gal-item8.jpg);    
}

.variation-3:hover{
    background: url(https://i.postimg.cc/qRtt79YP/gal-item8.jpg); 
    background-size: cover;
    background-repeat: no-repeat;   
}

.variation-4{
    background: linear-gradient(#eb3d4fa8,#3a003d94), url(https://i.postimg.cc/hPRJSZ0Y/gal-item7.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.variation-4:hover{
    background: url(https://i.postimg.cc/hPRJSZ0Y/gal-item7.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
.variation-5{
    background: linear-gradient(#eb3d4fa8,#3a003d94), url(https://i.postimg.cc/8k2v7zTt/gal-item1.jpg);
}

.variation-5:hover{
    background: url(https://i.postimg.cc/8k2v7zTt/gal-item1.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.variation-6{
    background: linear-gradient(#eb3d4fa8,#3a003d94), url(https://i.postimg.cc/VsCrPPXM/gal-item2.jpg);
}

.variation-6:hover{
    background: url(https://i.postimg.cc/VsCrPPXM/gal-item2.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.variation-7{
    background: linear-gradient(#eb3d4fa8,#3a003d94), url(https://i.postimg.cc/XJTrBs6p/gal-item3.jpg);
}

.variation-7:hover{
    background: url(https://i.postimg.cc/XJTrBs6p/gal-item3.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.variation-8{
    background: linear-gradient(#eb3d4fa8,#3a003d94), url(https://i.postimg.cc/N0j93yxf/gal-item5.jpg);
}

.variation-8:hover{
    background: url(https://i.postimg.cc/N0j93yxf/gal-item5.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}


.Gallery-items:last-child::after{
    content: '';
    width: 32%;
    height: 450px;
}

.pre-order{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem 0;
    background-color: #3a003d;
    border-radius: .3rem;
    margin-bottom: 1.5rem;
}

.pre-order h2{
    color: #fdeced;
    opacity: .8;
}

.pre-order form input{
    background-color: #fdeced;
    padding: .5rem 1rem;
    border-radius: .3rem;
    border: none;
    color: #3a003d;
    font-family: var(--font-family-text);
}

input[type='email']::placeholder{
    color: var(--neutral-dark-color);
    opacity: .5;
}

input[type='submit']{
    margin-left: .5rem;
}
input[type='submit']:hover{
    color: #170608;
    cursor: pointer;
}


/*Footer*/
footer{
    background-color: var(--neutral-dark-color);
    color: var(--neutral-light-color);
    text-align: center;
}

.nav-footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 2rem;
}

.nav-footer ul>li{
    padding: 1rem;
}

.nav-footer ul>li>a{
    color: var(--neutral-light-color);
    text-decoration: none;
    opacity: .8;
}

.nav-footer ul>li>a:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--neutral-light-color);
}

footer p{
    padding-top: 2rem;
    padding-bottom: .5rem;
    opacity: .8;
}


@media only screen and (max-width: 480px) {
    #header .container{
        display: flex;
        flex-direction: column;
    }

    .Intro{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .cta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features{
        padding-top: 3rem;
    }
    .feature-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .feature-description{
        padding-top: 2rem;
    }

    .gallery{
        padding: 2rem;
    }
    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer .container{
        display: flex;
        flex-direction: column;
        max-width: 30rem;
    }

    .nav-footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media only screen and (min-width: 480px) and (max-width: 768px){
    
}

